.container{
    width: 100%;
    height: 100%;
    background-color: #004E7C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    padding:50px;
    background-color: #DCE1E3;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sp{
    border-right:2px solid black;
}

.inout-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}