<div class="container">
    <div class="form sp">
        <div class="inout-div">
            <label>Username: </label>
            <input [(ngModel)]="username">
        </div>
        <div class="inout-div">
            <label>Password: </label>
            <input type="password" [(ngModel)]="password">
        </div>

        <button (click)="login()" class="submit-btn">LOGIN</button>
    </div>

    <div class="form">
        <div class="inout-div">
            <label>Username: </label>
            <input [(ngModel)]="usernamereg">
        </div>
        <div class="inout-div">
            <label>Password: </label>
            <input type="password" [(ngModel)]="passwordreg">
        </div>
        <div class="inout-div">
            <label>Name: </label>
            <input [(ngModel)]="name">
        </div>
        <div class="inout-div">
            <label>Surname: </label>
            <input [(ngModel)]="surname">
        </div>
        <div class="inout-div">
            <label>Location: </label>
            <select [(ngModel)]="location">
                <option value="nis">Nis</option>
                <option value="beograd">Beograd</option>
                <option value="novisad">Novi Sad</option>
            </select>
        </div>
        <div class="inout-div">
            <label>Faculty: </label>
            <select [(ngModel)]="faculty">
                <option value="elektronski fakultet">Elektronski Fakultet u Nisu</option>
                <option value="medicinski fakultet">Medicinski Fakultet u Nisu</option>
                <option value="Filozofski fakultet">Filozofski fakultet</option>
                <option value="Pravni fakultet">Pravni fakultet</option>
                <option value="pmf">PMF</option>
                <option value="ekonomski fakultet">Ekonomski fakultet</option>
                <option value="fakultet fizicke hemije">Fakultet fizicke hemije</option>
            </select>
        </div>
        <div class="inout-div">
            <label>Birthday: </label>
            <input [(ngModel)]="bday">
        </div>
        <div class="inout-div">
            <label>Year of studies: </label>
            <input [(ngModel)]="year">
        </div>
        <div class="inout-div">
            <label>Email: </label>
            <input [(ngModel)]="email">
        </div>

        <button (click)="register()" class="submit-btn">REGISTER</button>
    </div>
</div>
